numpy>=1.21 
matplotlib>=3.5
healpy>=1.15
astropy>=4.3
tart>=1.1.2b2
tart-tools>=1.1.2b2
h5py>=3.7.0
scipy>=1.7.3
svgwrite>=1.4.3
dask>=2022.2.0
scikit-learn>=1.1.1
dask-ms>=0.2.8
distributed>=2022.2.0
pylops>=2.0.0
toolz>=0.11.2
dmsh>=0.2.19
optimesh>=0.9.2
imageio>=2.4.1
